{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“4:48”, at Norwegian Theatre Academy 2014</p>
            <p>Director: Mareike Nele Dobewall, Scenography: Mareike Nele Dobewall and Ylva Owren<br>
Actor: Jade Francis Haj</p></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                    “4:48” is a performative piece based on Sarah Kane`s „4.48 Psychosis“.
                </p>
                <p>
                   It is a piece about a man who decides to end his life and displays his argument for life
between the decision and the action.
                    </p>
            <p>
We interpreted the piece as a song about life. It is a poetic piece that is as honest as it is
brutal.
                </p>
            <p>
The dramaturgy of the piece is a spiral that begins in the narrow bottom and unwinds
upwards. The departure point is like in the eye of the hurricane, a still and intense center
and speed progresses in the spirals as they intensify vertically up to a release.
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}