{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
            <img style="margin-bottom: 0px;" src="/static/img/MareikeDobewall.jpg" class="full-screen-background-image"><br>
            Photo by: Jan Hajdelak Husták
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 text">
            <p>
            <br>
                My motivation<br> I am fascinated by the hidden potential
                of people, spaces and situations. Curiosity for what
                someone or something withholds that I can trigger
                and tease to come out is the main drive in my work.
                When uncovered potentials start to reveal I work on making it sensible for an audience by creating a relationship between them. In my work I am constantly looking for new possibilities to reach others, to find a way to move them. For me it is the most valid reason for the existence of art that it can get people to have empathy with other people, themselves (through reflection), or even things.
            </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
             <p>
                Film and Scenography<br>
                In my films I have always worked on giving space for
                feelings and thoughts by drawing the audience into a
                story inside an atmosphere of sound, light, shadow
                and colors. Now as a scenographer I put a main
                focus on creating sensational experiences in order to
                stimulate the above mentioned. Herein I am
                interested in dealing with the so called public space
                and to create big spacial interventions.
            <br><br>
                Directing Theatre<br>
                In the past years I have worked as a theatre director and developed a very physical form of theatre making. Captivating the audience with
                the power of the actor, a precise choreography and the strength of a visual and audible composition is the aim. - A world where a
                dialogue between the seen and what happens inside of us while we watch a piece is possible.
            <br><br>
                Photography<br>
                In my photography I explore mood, shapes and textures and how they speak to a person who meets that image. In relation to film I am
                fascinated how one frame, a still, can pull you deeper in.
            <br><br>
                Opera<br>
                My fascination for opera arose two years ago when I created an aria performance in the building opposite of Folkoperan in Stockholm.
                The result was a „Street Opera“ that gave the general public access to opera music. Opera revealed for me the huge potential it has to
                touch people and to display the interior of what it means to be human. I am now interested in varying the distance between the musicians
                and the audience and, in consequence, to increase the impact the music, the voice of the singer, the presence of everybody in the space
                and the space has on the experience of an opera piece.
            <br>

            </p>
            <p><a href="http://issuu.com/mareikedobewall/docs/portfolio2014_mdobewall">Visit my Portfolio</a></p>
            <p><a href="/static/MareikeDobewall.pdf">Download CV</a></p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


{% endblock content %}