{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“Blindenschrift”, Waggonhalle Marburg, 2011</p>
            <p>Director: Mareike Nele Dobewall, Scenography: Mareike Nele Dobewall, Actors: Anna
Dassler and Ingrun Hillesheim</p></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                   World premiere of Lars Poppes short drama “Blindenschrift” at Marburger
Kurzdramenwettbewerb.
                    </p>
            <p>
Two characters are stuck with each other and in their roles. Familiar and shared games
help pass the time but also reveal the monotony of their lives.
What is friendship if there is only one more person around?</p>
            <p>
All photos for “Blindenschrift” by Ralf Hofacker
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}