{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">“Du fehlst”, Berlin 2006</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/du_fehlst/dufehlst1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                        Director: Mareike Dobewall<br>
                            Camera: Dionisis Vasilopoulos<br>
                            Actors: Lucas Prisor, Maja Lynn Makowski, Christa Müller, Wolfgang Müller, Nadia Winter,
                            Kai-Uwe Dix<br>
                            Light: Gregor Anthis, Falko Lachmund<br>
                            Sound: Ferry Dietel<br>
                            Editing: Andriana Villanueva<br>
                            Music: Simon Walker, Lacerda<br>
                    </p>

                <p>
                    Finn lost his family in a car accident. He can´t stop feeling guilty because he was not with
                    them. He is unable to overcome his sadness so he abandons the world and escapes into
                    the world of his imagination.
                    <br>
                    filmed on 16mm film
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/du_fehlst/dufehlst2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/du_fehlst/dufehlst3.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/du_fehlst/dufehlst4.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}