{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">“Great Grand Mother 2”, at Roundhouse in London 2014 (NTA)</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/great_grandmother_2/greatgrandmother2_1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                    an installation by Mareike Nele Dobewall, Ann Mirjam Vaikla, Freya Sif Hestnes
                </p>

                <p>
                    This sound installation at the HUB in London was shown during the theatre student festival
                    “Accidental 2014”.
                </p>
                <p>
                    Due to the simultaneity of our work at Folkoperan in Stockholm, we decided to bring the
                    recorded sound of our piece “Great Grand Mother” to London. In addition we interviewed
                    people in a bar in Camden on their grandmothers. The recordings of these interviews we
                    mixed together with the voice of the singer, creating a relationship between the memory of
                    people and the intense emotional expression of our singer in Stockholm.
                </p>
                <p>
                    Every audience member received a small piece of blue molton to sit on. The pieces were
                    fragmented with lavender, creating a warm and calm atmosphere in the round brick
                    architechture the installation took place in.
                </p>
            <p>
                Every audience member received a small piece of blue molton to sit on. The pieces were
                fragmented with lavender, creating a warm and calm atmosphere in the round brick
                architechture the installation took place in.
                It was of big importance to us that this sound installation leaves space for the audience to
                think of their own grandmother, have thoughts about the stories being told and let the
                voice of the opera singer vibrate within the space and their body.
            </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/great_grandmother_2/greatgrandmother2_2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/great_grandmother_2/greatgrandmother2_3.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/great_grandmother_2/greatgrandmother2_4.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}>