{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">“Great Grand Mother” at Folkoperan in Stockholm in May 2014 (NTA)</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                    a live voice installation by Mareike Nele Dobewall, Ann Mirjam Vaikla, Freya Sif Hestnes;
                    <br>
                    Tutor: Serge von Arx;
                    <br>
                    Artistic Director: Mellika Melouani Melani
                </p>
                <p>
                    With our live voice installation we explored the relationship between audience and singer
                    in the context of opera. In the Tempel Foaje a big sculpture formed up to the ceiling and
                    spread like a landscape, overtaking the space. On top of the sculpture throwned the
                    singer, stuck, unable to change.
                    We shifted the characteristics of audience and singer by having the audience move and
                    the singer fixed. By walking in the foyer and exploring the installation from outside and
                    inside the structure the audience could experience different sensations.
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}