{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“Ikke helt alene”, 2011</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                 Director: Mareike Nele Dobewall<br>
Camera: Pål Ulvik Rokseth<br>
Sound: Jacob Dobewall<br>
            <p>
The summer holiday has its own, quiet heartbeat for the six-year-old Kasper. One day a
girl moves into the summer house where the boy is playing. Curious about the mysterious
girl, he spies on her, and the extraordinary universe she creates for herself. A quiet
friendship evolves.
            </p>

           <center>
               <iframe src="https://player.vimeo.com/video/23434042" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/23434042">Trailer for &quot;Not Quite Alone&quot;</a> from <a href="https://vimeo.com/user6421403">Mareike Dobewall</a>.</p>
           </center>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}