{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <address>
                    Mareike Dobewall<br>
                    Toldbodgaten 36 B<br>
                    1632 Gamle Fredrikstad<br>
                    Norway
                </address>
                e-mail: <a href="">mareike.dobewall@gmail.com</a>
            </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
{% endblock content %}