{% extends "base_template.html" %}
{% block content %}
    <div class="container">
        <div>
            <div class="row title" style="margin-top: 20px; color:black;">
                 <a href="http://mareikedobewall.com/">Mareike Dobewall</a>
            </div>
            <div class="row menu">
                <a href="http://mareikedobewall.com/">Home</a>
                <a href="http://mareikedobewall.com/">About</a>
                <a href="http://mareikedobewall.com/">Works</a>
                <a href="http://mareikedobewall.com/">News</a>
                <a href="http://mareikedobewall.com/">Impressum</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">
                <img src="/static/img/home.png" id="full-screen-background-image">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
        </div>

    </div>
{% endblock content %}