{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“Inside”, at Norwegian Theatre Academy 2013</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/inside/inside1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>An installation by Mareike Nele Dobewall, Matias Askvik, Per Magnus Barlaug, Ylva
Owren; Tutor: Reinert Mithassel</p>
                <p>
                   The world we created in this installation was seemingly under water. The installation
formed a dialogue between a rectangular insert in the ceiling of the space and the rest of
the room.
                    </p>
            <p>
Under this screening area was a white vinyl dance floor which shaped the platform the
audience stood on.</p>
            <p>
The space around was filled with polished lead weights that reflect light of torches,
handled by two people dressed in black in such a way that they were only temporarily
visible and they looked like little air bubbles under water. In addition they created a
seemingly endless space.
                </p>
            <p>
For the sound we used contact microphones and manipulated the sound of the steps of
the actors dressed in black in such a way that it sounded like the sound steps under water
may make.</p>
            <p>
With these different ways of expanding the space we created the experience of being
inside a brain. The story in this installation was told by an actor dressing in soaking wet
clothing, talking about the functions of the brain and memories, using excerpts from TED
talks and other scientific and philosophical quotes regarding the theme
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/inside/inside2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/inside/inside3.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/inside/inside4.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}