{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Reflecting Light<br>
                Norwegian Teknisk Museum in Oslo<br>
                2014<br>
                <a href="{% url 'reflecting_light' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="{% url 'reflecting_light' %}"><img src="/static/img/reflectinglight2.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>

     <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Great Grand Mother 2<br>
                Accidental Festival London<br>
                2014<br>
                <a href="{% url 'great_grand_mother_2' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="{% url 'great_grand_mother_2' %}"><img src="/static/img/GreatGrandMother2_2.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Great Grand Mother<br>
                Folkoperan Stockholm<br>
                2014<br>
                <a href="{% url 'great_grand_mother' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="{% url 'great_grand_mother' %}"><img src="/static/img/opera.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
    <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Inside<br>
                Norwegian Theatre Academy<br>
                2013<br>
                <a href="{% url 'inside' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="{% url 'inside' %}"><img src="/static/img/inside3.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
{% endblock content %}