{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“Kylmä”, teatre Ovidi, Barcelona, 2014</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>Choreographer: Lorena Alvarez<br>
Set-Design, Costumes and Light Design: Mareike Dobewall</p>

            <p>
                 Kylmä -”cold” in finnish - is a trip to the extremes and opposites through exotic
experiences. From South to North, from hot to cold, from noise to silence; a sole path, an
inhospitable desert, and a search for inner calm.
“... And it may be precisely what we are asking the
            </p>
                <p>
<em>“... And it may be precisely what we are asking the body. Do not forget that deserts are
particularly good places to question the limits of our consciousness, to shake what we
thought solid as a rock ... “<br>
A.Lepecki.</em>
                    </p>
            <p>Kylmä is a journey in many ways. Cold is the internal and external engine that is traversed
to achieve a goal. A trip can be understood and seen as a displacement - physical and / or
mental. The need to change direction in life appears one day and we have to listen. The
people we meet along the way have something to tell. The vast nature is not far from us.
Life is lived in and out. In the essence we will find equality.</p>
    <p>Duration: 60 minutes</p>

            <p>All photos for “Kylmä” by Xavier Trilla</p>


        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma3.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma4.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma5.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma6.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma7.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma8.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma9.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma10.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/kylma/kylma11.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <iframe src="https://player.vimeo.com/video/124251319" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/124251319">KYLM&Auml; un viaje al Norte</a> from <a href="https://vimeo.com/user13095357">Lorena &Aacute;lvarez</a>.</p>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


{% endblock content %}