{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">
                <p><b>„Schnitzler`s Dreams“ - an installative Opera</b></p>
                <p><b>Premiere 20. August 2015</b></p>
            </div>
            <img src="/static/img/maiky.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>
            <b>Concept and Direction:</b><br>
                Mareike Dobewall<br>
                <br>
                <b>Scenography and Costumes:</b><br>
                Mareike Dobewall<br>
            <br>
            <b>Composers:</b><br>
                Tonje Hernes<br>
                Cecilia Damströmr<br>
                Evelin Seppar<br>
                Gísli Jóhann Grétarsson<br>
            <br>
             <b>Musicians:</b><br>
            Soprano: Ida Gudim as Fräulein Else<br>
            Mezzo-Soprano: Mari Askvik as Genia Hofreiter<br>
            Tenor: Robert Lind as Felix<br>
            Baritone: Eirik Krokfjord as Arthur Schnitzler<br>
                <br>
            <b>Thanks to:</b><br>

            Ib Aarmo<br>
            Konrad Kuhn<br>
            Serge von Arx<br>
            Sabrina Hölzer<br>
            Loriana Casagrande<br>
            Heidi Dalene<br>
            Anders Firing Aardal<br>
            Øystein Elle<br>
            Louise Höjer<br>
<br>
               <b>Supported by:</b><br>
Bibliotheket Fredrikstad<br>
Norwegian Theatre Academy<br>
Fredrikstad Kommune<br>
Cultural Endowment of Estonia<br>
Kulturfond for Finland and Norway<br>
Stiftelsen Thomas Fearnley Heddy og Nils Astrup<br>
Skipsreder Tom Wilhelmsens stiftelse<br>
            </p>

            <p>The performative Opera Installation „Schnitzler`s Dreams“ will be shown at the newly renovated Aula at the library in
                Fredrikstad.
            </p>
            <p>
                Based on texts by 19th century writer Arthur Schnitzler and a collection of existing classical music, this work will lead
                the audience into the depth of the unconsciousness. Similar to a hotel, this installation accommodates the different
                characters and the dreams worlds they carry within themselves. Like dream-walkers the characters move through the
                rooms which are different worlds. Their emotional state and their thoughts are revealed when they sing inner
                monologues extracted from texts by Arthur Schnitzler, accompanied by musicians who play newly composed music
                based on well-known pieces of classical music, mainly from the world of opera.
            </p>
            <p>
                It offers opera as a journey for the audience. A network of different stories that proceed partly independently, partly
                depending on each other will develop. Deep hidden worlds and inner conflicts of the characters will be revealed. The
                experience of the piece begins for the audience with their entrance in this dream uni- verse and ends with their leaving.
                The audience enters this closed universe as a visitor. A duration of three hours is estimated for the installation where
                the audience is free to leave anytime.
            </p>
            <p>
                The world of dreams/ unconscious is the reality of this installation. Arthur Schnitzler was a writer and doctor to whom
                psychoanalysis played an important role. For 56 years he wrote down his dreams. These dream-notes, together with
                figures from other texts will be used as inspiration. The characters and their inner conflicts will be extracted from their
                stories. They meet in a universe of unconsciousness that is created in the whole building of the Aula in Fredrikstad. The
                aim is to find out if it is possible to create a waking dream in which the audience can move freely. This work will explore
                where reality and fantasy can meet and how is it possible to keep the quality and character of fantasies within reality.
                With the help of music that escapes the intellect, and transports emotions directly, the imagined result can be called an
                „installative Opera“.
            </p>
            <p>
                <a target="_blank" href="https://www.facebook.com/events/745108268931911/">Link to Facebook page</a>
            </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd.png" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row" id="ad">
        <p>See you there!</p>
    </div>


{% endblock content %}