{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>“Reflecting Light”, at Norwegian Teknisk Museum in Oslo, 2014</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/reflecting_lights/reflectinglight1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>an installation by Mareike Nele Dobewall, Inga Aleknaviciute and Loriana Casagrande;<br>
Tutor: Serge von Arx</p>
                <p>
                   In the room that the audience would enter, they could experience a form of light that soon
will be extinguished in Europe.
                    </p>
            <p>
This light and sound based meditative space deals with the ongoing discussion about the
everyday artificial light that surrounds us. The phase-out of the incandescent lightbulbs in
favor of energy saving lamps or LEDs, brings with it a huge amount of information,
disinformation and misinformation. What is our part in this discussion?
                </p>
            <p>
This project was part of “Technology & Democracy”, a collaboration between the
Norwegian Theatre Academy and the LAB at the Norsk Teknisk Museum.
                </p>
            <p>
Duration: 12 minutes
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/reflecting_lights/reflectinglight2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/reflecting_lights/reflectinglight3.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}