{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">„Schnitzler`s Dreams“ - an installative Opera</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_1.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                    The performative Opera Installation „Schnitzler`s Dreams“ was performed at the newly renovated
Aula at the library in Fredrikstad in August 2015.
                </p>
                <p>
                   Based on texts by 19th century writer Arthur Schnitzler and a collection of existing classical music,
this work leads the audience into the depth of the unconsciousness. Similar to a hotel, this
installation accommodates the different characters and the dreams worlds they carry within
themselves. Like dream-walkers the characters move through the rooms. Their emotional state and
their thoughts are revealed when they sing inner monologues extracted from texts by Arthur
Schnitzler, accompanied by musicians who play newly composed music based on well-known
pieces of classical music, mainly from the world of opera.
                </p>
        <p>„Schnitzler‘s Dreams“ offers opera as a journey for the audience. A network of different stories
develops. Deep hidden worlds and inner conflicts of the characters are revealed. The experience of
the piece begins for the audience with their entrance in this dream universe and ends with their
leaving. The audience enters this closed universe as a visitor. Each audience member can decide for
themselves how they want to experience this spacial composition.</p>
        <p>The world of dreams/ unconscious is the reality of this installation. Arthur Schnitzler was a writer
and doctor to whom psychoanalysis played an important role. For 56 years he wrote down his
dreams. These dream-notes, together with figures from other texts by him are used as inspiration.
The characters and their inner conflicts are extracted from their stories. The aim was to find out if it
is possible to create a waking dream in which the audience can move freely in a whole building will
lots of staircases and rooms. This work explores where reality and fantasy can meet and how is it
possible to keep the quality and character of fantasies within reality. With the help of music that
escapes the intellect, and transports emotions directly, the result can be called an „installative
Opera“.</p>
 <p>
  </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/Anastasia.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/arthur.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/arthur_5.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/else2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    9
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/elsemoa.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/felix.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/genia_5.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/genia_6.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/ida.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/matias.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/sverre_5.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_2.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_4.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_6.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_8.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_20.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/sd/jan_12.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
             <b>Concept and Direction:</b><br>
                Mareike Dobewall<br>

                <br>
                <b>Scenography and Costumes:</b><br>
                Mareike Dobewall<br>
                    <b>Assistants:</b><br>
     Ylva Owren and Heidi Dalene<br>
            <br>
            <b>Composers:</b><br>
                Tonje Hernes (Fräulein Else)<br>
                Cecilia Damström (Felix from „Dying“)<br>
                Evelin Seppar (Genia from „An undiscovered country“)<br>
                Gísli Jóhann Grétarsson (Arthur from Arthur Schnitzler‘s „Dream Diary“ and „Contemplations“)<br>
            <br>
             <b>Musicians:</b><br>
            Soprano: Ida Gudim as Fräulein Else<br>
            Mezzo-Soprano: Mari Askvik as Genia Hofreiter<br>
            Tenor: Øystein Stensheim as Felix<br>
            Baritone: Eirik Krokfjord as Arthur Schnitzler<br>
                 Contrabass: Matias Askvik<br>
Cello: Sverre Kyvik Bauge<br>
Violin: Moa Meinich<br>
Accordion: Anastassia Mishenkina <br>
                <br>
     <b>Actors:</b><br>
     Ida Holthe Lid<br>
Nela Hustak Kornetová<br>
Kaja Mærk Egeberg<br>

            <br>
            <b>Thanks to:</b><br>

            Ib Aarmo<br>
            Konrad Kuhn<br>
            Serge von Arx<br>
            Sabrina Hölzer<br>
            Loriana Casagrande<br>
            Heidi Dalene<br>
            Anders Firing Aardal<br>
            Øystein Elle<br>
            Louise Höjer<br>
<br>
               <b>Supported by:</b><br>
Bibliotheket Fredrikstad<br>
Norwegian Theatre Academy<br>
Fredrikstad Kommune<br>
Cultural Endowment of Estonia<br>
Kulturfond for Finland and Norway<br>
Stiftelsen Thomas Fearnley Heddy og Nils Astrup<br>
Skipsreder Tom Wilhelmsens stiftelse<br>
            </p>



  </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-top: 20px;" >
                      <center><iframe src="https://player.vimeo.com/video/140403821" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/89449964">4:48 - Teaser</a> from <a href="https://vimeo.com/user6421403">Mareike Dobewall</a>.</p>
</center>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}
