{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>„A small house growing from within“</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/haus_2.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>
              Mareike Nele Dobewall and Ylva Owren
            </p>
            <p>
                Imprisonment is a penalty that a state may impose on a person for the commission of a
crime. This is to protect society of the criminal and to punish the wrong-doer. Solitary
imprisonment is sometimes also imposed in order to protect one inmate from another.
The harsh reality of imprisonment and the abuse of this institution for political reasons are
very complex. We asked ourselves how we can relate to this topic. Are there bars in our
lives holding us from the real life, protecting us from an interaction with other people,
maybe even punishing us without our knowledge? We were here specifically interested in
the change of perception and actions that a limited space creates.
                 </p>
            <p>
We explored these questions by placing a contrasting image into a grim prison cell. During
a long-durational performance we, dressed-up in wallpaper-dresses, built a charming
smaller-than-life house that was barely big enough to fit us. During the performance we did
not speak. We created an atmosphere of non-existence of time.
             </p>
            Duration: 25 minutes
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house3.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house4.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house5.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house6.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house7.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house8.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house9.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/smallhouse/house10.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}