{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;">“Street Opera” at Folkoperan in Stockholm in 2013 (NTA)</div>
            <img src="/static/img/street_opera.jpg" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
                <p>
                    by Mareike Nele Dobewall; Tutor: Serge von Arx, A.J. Weissbard; Artistic Director: Mellika Melouani Melani
                    Opera Showroom is a festival by Folkoperan in Stockholm, where the genre opera is explored and challenged by different artists.
                    “Vesti la Giubba” from Pajazzo
                </p>
                <p>
                    Street Opera: You are walking through the streets. Suddenly an unfamiliar sound. Where does it come from? From that house! The
                    sound is repeated. Somebody is standing in the window of that building across the street. The sound comes from a trombone. The sound
                    turns into patterns, that create music. This music gets a different color added by a further instrument at the other end of the building. Is
                    this a coincidence? Suddenly another window opens. A trumpet player enters a balcony and plays as if to himself, privately. Smoke
                    comes from behind him, he does not react. A woman stands motionless in the background of another musician. In the duration of the aria
                    many details can be discovered in the windows, revealing private and surreal moments in the facade.
                </p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
{% endblock content %}