{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Blindenschrift<br>
                Waggonhalle Marburg<br>
                2011<br>
                <a href="{% url 'blindenschrift' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <img src="/static/img/blindenschrift2.jpg" class="full-screen-background-image">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
     <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                4:48<br>
                Norwegian Theatre Academy<br>
                2014<br>
                <a href="{% url '448' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <img src="/static/img/448_7.jpg" class="full-screen-background-image">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
{% endblock content %}