{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Memorial for 800<br>
                Håøya in Norway<br>
                2014<br>
                <a href="{% url '800' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <img src="/static/img/800_10.jpg" class="full-screen-background-image">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="description col-lg-4 col-md-4 col-sm-6 col-xs-6">
                Memorial for 800<br>
                Håøya in Norway<br>
                2014<br>
                <a href="{% url '800' %}">more</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <img src="/static/img/800_10.jpg" class="full-screen-background-image">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            </div>
        </div>
{% endblock content %}