{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>„Two People“</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/hoppe/hopper2" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>
               Written, produced<br>
and directed by Mareike Dobewall<br>
Woman: Dorothea Förtsch<br>
Man: Christian Wewerka<br>
Waitress: Annette Tobor<br>
Camera Operator: Andy Fiebert, Justus Sparke<br>
Sound: Jacob Dobewall<br>
Light Technician: Dominik Lukas<br>
Set-Design: Erika Herrmann<br>
Editing: Mareike Dobewall, Enrico Zeidler<br>
Music: Simon Walker<br>
Catering: Brigitte Goroncy<br>
Transport Captain: Luigi<br>
            </p>
                <p>
                 Inspired by Edward Hoppers painting “Excursion into Philosophy“ this film is
about two lonely people who are unable to escape from the monotony of their
lives.
Unable to communicate with each other they spend a moment of tenderness
which leaves them with an even deeper feeling of emptiness.
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/hoppe/hopper4" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/hoppe/hopper5" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/hoppe/hopper6" class="full-screen-background-image">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <iframe src="https://player.vimeo.com/video/23433961" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/23433961">Two People</a> from <a href="https://vimeo.com/user6421403">Mareike Dobewall</a>.</p>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}