{% extends "base_template.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div style="margin-top: 50px; text-align: center;"><p>„Women with unhealthy complexion listening to the sound of sirup in the
walls“</p>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls1.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">
            <p>
              Choreography and Dancer: Mareike Dobewall and Lorena Alvarez
            </p>
            <p>
                Lorena Álvarez and Mareike Dobewall focus in this work on the zone between accepted
and not tolerated behavior. In their research they were particularly interested in mental
illnesses which have recently been challenged by the British Psychological Society’s
division of clinical psychology (DCP). A main focus lay here on ADS and ADHS.
                 </p>
            <p>
What is acceptable behavior? Where does it stop? In the zone between where behavior is
still considered as normal and when it becomes “sick” the two dancers look for answers in
movement. Concerning the treatment of people with abnormal behavior in our society the
two performers ask what the suppression of out-of-norm-behavior does to an individual
and in the aftermath to a society.
             </p>
            Duration: 25 minutes
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls2.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>


     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls3.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls4.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

     <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls5.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <img src="/static/img/women/womenonwalls6.jpg" class="full-screen-background-image" style="margin-top: -30px">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>

{% endblock content %}