{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Opera</div>
                <a href="{% url 'opera' %}"><img style="margin-bottom: 50px;" src="/static/img/opera.png" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Installation</div>
                <a href="#"><img style="margin-bottom: 50px;" src="/static/img/installation.png" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Theatre</div>
                <a href="#"><img style="margin-bottom: 50px;" src="/static/img/theatre.png" class="full-screen-background-image"></a>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Memorial</div>
                    <a href="#"><img style="margin-bottom: 50px;" src="/static/img/memorial.png" class="full-screen-background-image"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Film</div>
                    <a href="#"><img style="margin-bottom: 50px;" src="/static/img/film.png" class="full-screen-background-image"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Dance</div>
                    <a href="#"><img style="margin-bottom: 50px;" src="/static/img/dance.png" class="full-screen-background-image"></a>
                </div>
            </div>
{% endblock content %}