{% extends "base_template.html" %}
{% block content %}
        <div class="row" style="margin-top: 50px">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Opera</div>
                <a href="{% url 'opera' %}"><img style="margin-bottom: 50px;" src="/static/img/opera.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Installation</div>
                <a href="{% url 'installation' %}"><img style="margin-bottom: 50px;" src="/static/img/GreatGrandMother2_2.jpg" class="full-screen-background-image"></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div style="margin-bottom: -20px; text-align: center;">Theatre</div>
                <a href="{% url 'theatre' %}"><img style="margin-bottom: 50px;" src="/static/img/theatre.jpg" class="full-screen-background-image"></a>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Memorial</div>
                    <a href="{% url 'memorial' %}"><img style="margin-bottom: 50px;" src="/static/img/memorial.jpg" class="full-screen-background-image"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Film</div>
                    <a href="{% url 'film' %}"><img style="margin-bottom: 50px; height: 240px; width:360px;" src="/static/img/soad10.jpg" class="full-screen-background-image"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div style="margin-bottom: -20px; text-align: center;">Dance</div>
                    <a href="{% url 'dance' %}"><img style="margin-bottom: 50px;" src="/static/img/dancing.jpg" class="full-screen-background-image"></a>
                </div>
            </div>
{% endblock content %}