html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
    background-color: #ffffff !important;
    font-family: 'Dosis', sans-serif;
}

#full-screen-background-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.menu {
    text-align: center;
}

.menu a {
    font-family: 'Dosis', sans-serif;
    color: black;
}

.menu a:hover {
    text-decoration: none;
}